.main-content h1 {
  color: #ff0000;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: grey;
  text-align: center;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  font-size: 120%;
  color: grey;
}
